section.callaction {
    padding-top: 10px;
}

.callaction .container row,
.callaction h2{
    margin-bottom: 10px;
}

#content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.row, .row-fluid {
    margin-bottom: 10px;
}

#inner-headline ul.breadcrumb {
    margin-top: 10px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #222;
}

.dropdown-menu .active > a {
    background-color: #82B3FB;
}

footer {
    padding-top: 10px;
}

#sub-footer {
    padding-top: 0px;
}

#featured .flexslider {
    margin: 10px 0 10px 0;
}

.typeahead.dropdown-menu {
    width: 100%;
    padding-right: 32px;
}

#id_number_attending {
    width: 4em;
    text-align: center;
}