{% extends "base.html" %}
{% load staticfiles %}

{% block left_wrapper %}
{% endblock %}
{% block tail_js %}
<script src="{% static "js/bloodhound.js" %}"></script>
<script src="{% static "js/bootstrap3-typeahead.js" %}"></script>
<script>
var invites = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '',
  remote: '/rsvp/search.json?q=%QUERY'
});
invites.initialize();
$input = $('input.typeahead')
$input.typeahead({
  name: 'invites',
  displayText: function(item){
    if (item.informal !== item.name){
      return item.name + ' - ' + item.informal;
    } else {
      return item.name;
    }
  },
  source: invites.ttAdapter(),
  minLength: 2,

});

$input.change(function(){
    active = $input.typeahead('getActive');
    if (active){
        $('input#destination-slug').attr('value', active.slug)
    }
});
</script>
{% endblock %}
{% block main_col_size %}10{% endblock %}
{% block main_class %}middle col-md-offset-1{% endblock %}
{% block title %}{% block meta_title %}Find your invite{% endblock %}{% endblock %}
{% block main %}
<form action="/rsvp/" method="post">
    {% csrf_token %}
    <label for="query" class="col-md-12 text-center label-large sr-only">Find your invite</label>
    <input class="form-control input-lg typeahead" type="text" id="query" placeholder="Who's invited?">
    <input type="hidden" name="slug" id="destination-slug">
    <input class="col-md-2 col-md-offset-5 btn btn-large form-inline" type="submit" id="query-submit" value="RSVP">
</form>


{% endblock %}
